@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('..\fonts\Roboto.woff2') format('woff2'),
    url('..\fonts\Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url('..\fonts\Robotoitalic.woff2') format('woff2'),
    url('..\fonts\Robotoitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url('..\fonts\Robotobold.woff2') format('woff2'),
    url('..\fonts\Robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Bold Italic'),
    local('Roboto-BoldItalic'),
    url('..\fonts\Robotobolditalic.woff2') format('woff2'),
    url('..\fonts\Robotobolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
img {
  max-width: 100%;
  height: auto;
}
a { text-decoration: none }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: white;
  background-color:#8996a6;
}
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/gllacy-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.main-header {
  margin: 0 auto;
  padding: 10px 20px;
}
.main-navigation {
  display: flex;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}
.site-navigation > li, .user-navigation li {
  display: inline-block;
  vertical-align: top;
}
.site-navigation a {
  display: block;
  padding: 20px 25px;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
}
.sub-menu-catalog {
  display:none;
  position:absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation li:hover .sub-menu-catalog {
  display: block;
}
.user-navigation {
  display: flex;
}
.user-navigation a {
  display: block;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
.search-btn a {
  display: block;
  width: 33px;
  height: 33px;
  background: url("../img/search.svg") rgba(200, 207, 45, 0.2) no-repeat;
  font-size: 0;
}
.worktime {
  font-size: 14px;
  line-height: 16px;
}
.phone{
  color:white;
  font-size: 22px;
  line-height: 24px;
}
.slider {
  position: relative;
  padding-top: 321px;
  margin-bottom: 40px;
  text-align: center;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slide {
  display: none;
}
.button {
  display: inline-block;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.slide-button {
  padding: 12px 44px;
}
.promo-button {
  padding: 12px 23px;
  font-size: 18px;
  line-height: 24px;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 20px;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/gllacy-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/gllacy-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/gllacy-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.promo {
  margin: 0px 27px 40px;
}
.promo-items {
  display: flex;
  justify-content:space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.promo-item {
  padding-left: 20px;
}
.promo-rapsberry {
  background: url(../img/rapsberry.jpg) no-repeat;
  width: 560px;
  border-radius: 15px;
}
.promo-chocolate {
  background: url(../img/chocolate.jpg) no-repeat;
  width: 560px;
  border-radius: 15px;
}
.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 23px;
  margin-bottom: 23px;
}
.promo p {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  font-weight: bold;
}
.features {
  padding: 20px;
  margin: 0px 27px 40px;
  border-radius: 15px;
  background: url("../img/features.jpg") no-repeat;
  background-size: cover;
}
.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature {
  position: relative;
  min-width: 40%;
}
.feature img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.features h2 {
  margin: 0 0 10px;
  color:#323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.features p {
  display: block;
  padding-left: 60px;
  max-width: 500px;
  color:#323232;
  font-size: 16px;
  line-height: 22px;
}
.content-columns {
  display: flex;
  margin: 0px 27px 40px;
}
.news {
    background-image: url("../img/strawberry.jpg");
    padding: 20px 200px 20px 20px;
    margin-right: 20px;
    border-radius: 15px;
    width: 560px;
    height: 220px;
}
.news h2 {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}
.news a {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  color:#323232;
}
.subscribe {
  width: 560px;
  padding: 20px;
  border: 6px solid;
  border-radius: 10px;
  border-image: url("../img/subscribe-border.png");
  border-image-slice: 10;
  font-size: 16px;
  color:#5a5a5a;
  background-color: #f8f7f4;
}
.map {
  position: relative;
  width: 1200px;
  height: 430px;
  background: url("../img/map.png") no-repeat -47px 0;
}
.map::after {
  position: absolute;
  top: 139px;
  left: 266px;
  content: url("../img/icecream-pin.svg");
}
.catalog h2 {
  font-size: 35px;
  line-height: 41px;
 }
.breadcrumbs a {
  color:white;
  font-size: 14px;
  line-height: 16px;
}
.catalog-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  list-style: none;
}
.catalog-item {
  position: relative;
  margin-left: 25px;
}
.catalog-item img {
  border-radius: 50%;
}
.catalog-item h3 {
  font-size: 16px;
  width: 267px;
}
.catalog-item b {
  font-size: 45px;
  position: absolute;
  left: 0px;
  top: 220px;
}
.hit::before {
  content:"";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 61px;
  height: 61px;
  background: url("../img/hit.svg") no-repeat 0 0;
}
.about-us a {
  font-size: 13px;
  color: white;
}
.main-footer  {
  margin-top: 40px;
  display: flex;
}
.social-icons {
  display: flex;
  list-style: none;
}
.social {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-right: 11px;
  font-size: 0px;
}
.twitter {
  background:url(../img/twitter.svg) no-repeat;
}
.instagram {
  background:url(../img/insta.svg) no-repeat;
}
.facebook {
  background:url(../img/facebook.svg) no-repeat;
}
.vkontakte{
  background:url(../img/vk.svg) no-repeat;
}
.footer-copyright p {
  font-size: 12px;
  color:#fefefe;
}
